<!DOCTYPE html>
<html>
  <head>
    <title>PlagiarismControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="min-h-screen flex flex-col">
      <%= render 'layouts/header' %>
      <div class="min-w-full relative mx-auto px-4 flex flex-grow">
        <div class="content">
          <%= render 'layouts/alerts' %>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
